.r4-logo {
  width: 10em;
}
.trans {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);


  width: 100%;
}
.r4para {
  text-align: justify;
  text-justify: inter-word;

  letter-spacing: 1px;
  line-height: 30px;
}
.trans-image {

  
}

